.why-container {
  background-color: #c5e2f5;
}

.why-card {
  box-shadow: 2px 2px 20px rgb(218, 218, 218);
}

/* LANDING PAGE SECTION */
.land-maq {
  margin-top: 3.5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* TESTIMONIALS */
.test-box {
  background-image: image("/dots.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.test-card {
  background-color: #eef5fe;
  text-align: left;
  box-shadow: 2px 2px 20px rgb(218, 218, 218);
  width: 320px;
  height: 220px;
}
.btn:hover {
  color: 0 !important;
  background-color: #f36546 !important;
  border-color: 0 !important;
}
.btnl{
  background-color: #f36546;
  box-shadow:0 0 2px 2px 2px white;
}
.navs{
  position: sticky;
  top:0;
  background-color: white;
  z-index: 9999;
  background: rgba( 255, 255, 255, 0.75 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 4.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.colr{
  color: #4584ff;
}
.colr:hover{
  font-weight: 400;
}
.widthh{
  position: absolute !important;
  min-width: 753px !important;
  padding: 190px 10px !important;
  left: 40% !important;
  margin-bottom: 121px !important;
}

.styf{
  margin-top: 80px;
  /* width: 500px; */
  box-shadow: 2px 2px 10px grey;
  border-radius: 15px;
}
.desh2{
  margin-top: 50px;
}

.colors{
  color: rgb(252, 171, 22);
  font-weight: 700;
}
.rad{
  border-radius: 20%;
  margin: auto;
}
.desc{
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgb(61, 61, 175);
  height: 380px;
}
.textc{
  text-align: center;
}
.desi{
  width: 100%;
  margin-left: auto;
}
.btns{
  text-align: end;
  color: white;
  background-color: #f36546;
  width: 120px;
  height: 40px;
  margin-left: 149px;
}

.imgs{
  border-radius: 10%;
  box-shadow: 2px 2px 2px grey;
}

.imgsi{
  border-radius: 10%;
}
.callb{
  border-bottom: 1px solid grey;
}




/* FOOTER SECTION */
.footer-box{
    background-color: rgb(248, 127, 83);
}

.styled-list{

    text-decoration: none;
    font-weight: bolder;
    color: white;
    line-height: 2.3rem;
    font-size: 17px;
}

.styled-list:hover{
    color: orange;
}
.inpn{
  width: 4rem;
  height: 40px;
  font-size: 1.2rem;
  text-align: center;
  /* border: none;
  border-bottom: 1px solid; */
}
.modal-backdrop {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: rgb(240, 239, 239) !important;
  --bs-backdrop-opacity: 0.6 !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
}
@media (min-width: 576px){
.modal {
    --bs-modal-margin: 12% !important;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
}

.inps{
  width: 23rem;
  height: 40px;
  border-radius: 5px;
  border: 1px solid grey;
  margin: auto;
  display: block;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  /* border: none;
  border-bottom: 1px solid; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inps input[type=number] {
  -moz-appearance: textfield;
}
.inpsotp{
  width: 4rem;
  height: 40px;
  border-radius: 5px;
  border: 1px solid grey;
  margin: auto;
  display: block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inpsotp input[type=number] {
  -moz-appearance: textfield;
}
.divs.my-5 {
  margin-top: 10rem!important;
  margin-bottom: 3rem!important;
}
.btnlogin{
  background-color: #f36546;
  color: white;
  width: 200px;
  font-size: 20px;
}
.photod{
  background: url(./images/truck.jpg)  no-repeat center center;
  width: 80%;
  height: 100%;
}

.imgp{
  position: absolute !important;
  border-radius: 50%;

}

.inputwidth{
  width: 400px;
}

.profilediv.mx-5 {
  margin-right: 3rem!important;
  margin-left: 9rem!important;
}
.fontawe{
  border-radius: 5px;
  width: 100px;
  height: 80px;
}

#bottom-stuff {

  position: relative;
}

#bottom{
  position: absolute; 
  width:100%;
  bottom:20px;
}
#burger{
  position: absolute;
  cursor: pointer;
  left: 20%;
  top: 2%;
 width: 40px;
}   
.line{
  background-color: white;
  margin: 3px 3px;
  color: white;
  height: 8px;
}
#maincontainer{
  width: 100%;
  display: flex;
  overflow: hidden;
 }
#sidenav{
  position: relative;
  width: 6%;
  transition: 1s;
 }

#mainbox{
  width: 94%;
  padding-left: 100px;
  transition: 1s;
 }
 .font-awe{
  color: rgb(0, 0, 0);
 }
 .font-awed{
  width: 37px;
  height: 38px;
 border-radius: 50%;
 }
 .font-awed:hover{
 transform: rotate(360deg);
transition: 500ms;
 }
 .colrs{
  color: white;
 }
 #cross{
  position: absolute;
    cursor: pointer;
    left: 80%;
    top: 2%;
    width: 40px;
    display: none;
 }
 .fonti{
    position: relative;
    left: -29px;
    background-color: #ff8a29;
    color: black;
 }
@media screen and (max-width: 600px) {
     #sidenav{
      width: 200px;
     }
}


